.banner_wrap
  .heading
    %h1 New Repository
  .banner
    .form_table
      - form_for(@repository) do |f|
        = f.error_messages
        = f.hidden_field :user_id, :value => @current_user.id
        %table
          %tbody
            %tr
              %td= f.label :name, "name"
            %tr
              %td= f.text_field :name
            %tr
              %td= f.label :description, "description"
            %tr
              %td= f.text_area :description
            %tr
              %td= f.label :homepage, "homepage"
            %tr  
              %td= f.text_field :homepage
            %tr
              %td
                = f.submit 'Create', :class => "button2"
                or
                = link_to 'Back', repositories_path
.bottom