%tr
  %td= form.label :login, "login"
%tr
  %td= form.text_field :login
%tr
  %td= form.label :email, "email"
%tr
  %td= form.text_field :email
%tr
  %td= form.label :password, form.object.new_record? ? "password" : "change password"
%tr
  %td= form.password_field :password
%tr
  %td= form.label :password_confirmation, "confirm"
%tr
  %td= form.password_field :password_confirmation
%tr
  %td
    = form.submit "Update", :class => "button2"
    or
    = link_to "Cancel", account_path