.form
  - form_for @user_session, :url => user_session_path do |f|
    = f.error_messages
    %table
      %tbody
        %tr
          %td= f.label :login, "Login"
          %td= f.text_field :login
        %tr
          %td= f.label :password, "Password"
          %td= f.password_field :password
        %tr
          %td
          %td{:style => "text-align: right"}= f.submit "Login"